# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps

# Custom
build
Build
builds
Builds
Executable
Installer
"FPGA Bitfiles"
*.lvbitx